@using WebApplication2.Models.API;
@using WebApplication2.Models.Enum;
@using WebApplication2.ViewModels;
@using Newtonsoft.Json
@model QuestionnaireViewModel


<style>
    .question {
        border: 1px solid #2c3036;
        border-radius: 10px;
        padding: 10px;
        margin: 20px 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .btn-remove {
        display: none;
    }

</style>

<div class="form-container">
    <div class="row">
        <div class="col-lg-12">

            <h2 class="text-center"><i class="uil-eye font-size-28"></i> @Localization.ViewQ</h2>

            <input type="hidden" asp-for="oid" id="mainId" />
@*          <hr style="height: 10px; background-color:black; border-radius:5px;" />
            <br />

            <div class="row">
                <div class="col-md-2">
                    <label asp-for="Title" class="form-label"><h4>@Localization.TitleQ</h4></label>
                </div>
                <div class="col-md-10">
                    <h3>@Model.Title</h3>
                </div>
            </div> *@
            <br />

            <div class="row">
                <div class="col-lg-2">
                    <div class="mb-4">
                        <label asp-for="Title" class="form-label"><h4>@Localization.TitleQ</h4></label>
                    </div>
                </div>
                <div class="col-lg-10">
                    <div class="mb-4">
                        <h3>@Model.Title</h3>
                    </div>
                </div>
            </div>

           
                <h3>@Localization.Question</h3>
            <span>
                <button type="button" id="hideAll" class="btn btn-primary btn-rounded waves-effect waves-light">@Localization.HideAll (@Model.Questions.Count)</button>
                <button type="button" id="showAll" class="btn btn-primary btn-rounded waves-effect waves-light">@Localization.ShowAll (@Model.Questions.Count)</button>
            </span>


            <br />
            <div id="questions-container">
                @{
                    int i = 0;
                }
                @foreach (var item in Model.Questions)
                {
                    <div class="question">
                        <div id="Titlequestion_@i" style="cursor: pointer;">
                            <div class="form-group">
                                <label asp-for="@item.question">@Localization.QuestionText</label>
                                <h3><strong><i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>  @item.question</strong></h3>
                            </div>
                        </div>
                        <div id="detail_@i">
                            <div class="form-group">
                                <label asp-for="@item.gradingType">@Localization.GradingType</label>
                                @{
                                    string answerLocalization = "";
                                    switch (item.gradingType)
                                    {
                                        case GradingType.YesNo: answerLocalization = Localization.YesorNo; break;
                                        case GradingType.Point10Score: answerLocalization = Localization.Scorepoints; break;
                                        case GradingType.SingleAnswerVariant: answerLocalization = Localization.Oneanswer; break;
                                        case GradingType.MultipleAnswerVariant: answerLocalization = Localization.Multianswer; break;
                                        default:
                                            answerLocalization = item.gradingType.ToString(); break;
                                    }
                                }
                                <p><strong>@answerLocalization</strong></p>
                            </div>
                            <div class="form-group">
                                <label asp-for="@item.comentary">@Localization.Comment</label>
                                <p><strong>@item.comentary</strong></p>
                            </div>
                            @if (item.gradingType == GradingType.SingleAnswerVariant || item.gradingType == GradingType.MultipleAnswerVariant)
                            {
                                <label>@Localization.Responses</label>
                                <ul>
                                    @foreach (var answ in item.answerVariants)
                                    {
                                        @if (answ != null)
                                        {
                                            <li><p>@answ</p></li>
                                        }
                                    }
                                </ul>
                            }
                        </div>
                    </div>
                    i++;
                }
            </div>
            <div class="row">
                <div id="editBtn" class="col-lg-9">
                    <a style="margin-top: 10px; width: 100%;" class="btn btn-primary waves-effect waves-light" href="@Url.Action("Upsert", "Home", new {id = Model.oid})">@Localization.EditQ</a>
                </div>
                <div id="cancelBtn" class="col-lg-3">
                    <a type="button" href="/" style="margin-top: 10px; width: 100%;" class="btn btn-secondary btn-soft-secondary waves-effect waves-light">@Localization.Cancel</a>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("div[id^='Titlequestion_']").click(function () {
            var questionId = $(this).attr('id');
            var detailId = "#detail_" + questionId.split('_')[1];

            // Анимированно скрываем или отображаем детали
            $(detailId).animate({
                height: 'toggle'
            });
        });

        $("#hideAll").click(function () {
            $("[id^='detail_']").animate({
                height: 'hide'
            });
/*
            $(this).animate({
                height: 'hide'
            });
            $("#showAll").animate({
                height: 'show'
            });
            */
        });

        $("#showAll").click(function () {
            $("[id^='detail_']").animate({
                height: 'show'
            });
        });
        /*
        $("#hideAll").click(function () {
            $("[id^='detail_']").each(function () {
                $(this).animate({
                    height: 'toggle'
                });
            });
        });
        */

    });

</script>