@using ISQuiz.Models.API.Questionnaires;
@using ISQuiz.Models.Enum;
@using Newtonsoft.Json
@model DetailQuestions



<script>

    function smoothScrollTo(target) {
        const offset = $(target).offset().top - 80; // учитываем отступ шторки
        $('html, body').scrollTop(offset);
    }

    $('a[href^="#"]').on('click', function (event) {
        const target = $(this).attr('href');
        smoothScrollTo(target);
        event.preventDefault(); // предотвращаем стандартное поведение перехода по ссылке
    });


    //debugger

    function setInputVisibility(selectedLanguage) {
        // Hide all language-specific input elements
        $("p[id*='questionName']").addClass("hidden");
        $("p[id*='questionComentary']").addClass("hidden");
        $("p[id*='response']").addClass("hidden");
        // $("p[id*='questionName']").prop("required", false);

        // Show the input element corresponding to the selected language
        if (selectedLanguage === "RU") {
            $("p[id*='questionNameRU']").removeClass("hidden");
            $("p[id*='questionComentaryRU']").removeClass("hidden");
            $("p[id*='responseRU']").removeClass("hidden");
            //$("input[id*='questionNameRU']").prop("required", true);
        } else if (selectedLanguage === "RO") {
            $("p[id*='questionNameRO']").removeClass("hidden");
            $("p[id*='questionComentaryRO']").removeClass("hidden");
            $("p[id*='responseRO']").removeClass("hidden");
            //$("input[id*='questionNameRO']").prop("required", true);
        } else if (selectedLanguage === "EN") {
            $("p[id*='questionNameEN']").removeClass("hidden");
            $("p[id*='questionComentaryEN']").removeClass("hidden");
            $("p[id*='responseEN']").removeClass("hidden");
            //$("input[id*='questionNameEN']").prop("required", true);
        }
    }

    var selectedLanguage = $(".row").find("select[id*='uiLanguageSelect']").val();

    // Call the function to set input visibility based on the selected language
    setInputVisibility(selectedLanguage);
    $(".row").on("change", "select[id*='uiLanguageSelect']", function () {
        // Get the selected language when the dropdown changes
        var selectedLanguage = $(this).val();

        // Call the function to set input visibility based on the selected language
        setInputVisibility(selectedLanguage);
    });

</script>

<div id="questions-container">
    @{
        int i = 1;
    }

    @foreach (var item in Model.questions.OrderBy(x => x.id)) // Был бы порядковый номер вопроса, а не id было бы лучше так что не смейтесь!
    {
        <div class="question" id="questionN_@i">

            <div class="pencil">
                <a href="#questionN_@i"><i class="fas fa-pencil-alt btn btn-primary waves-effect waves-light" onclick="EditQuestion(@i)"></i></a>
            </div>

            <div class="form-group">
                <input hidden id="QuestionId" value="@item.id" />
                <h4>
                    <strong>@Localization.Question №@i</strong><i class="uil-eye font-size-24"
                                                                  data-status="open"
                                                                  onclick="toggleEye(this); DetailMore(@i);"
                                                                  style="cursor: pointer;"></i>
                </h4>
                @{
                    var questionNameJson = JsonConvert.DeserializeObject<Dictionary<string, string>>(item.question);
                    var questionComentaryJson = JsonConvert.DeserializeObject<Dictionary<string, string>>(item.comentary);
                }
                @if (!string.IsNullOrEmpty(questionNameJson["EN"]))
                {
                    <p id="questionNameEN_@i" data-status="withText">@questionNameJson["EN"]</p>
                }
                else
                {
                    <p id="questionNameEN_@i" data-status="noComent">EN @Localization.SkipQuestionTitle</p>
                }
                @if (!string.IsNullOrEmpty(questionNameJson["RO"]))
                {
                    <p id="questionNameRO_@i" data-status="withText">@questionNameJson["RO"]</p>
                }
                else
                {
                    <p id="questionNameRO_@i" data-status="noComent">RO @Localization.SkipQuestionTitle</p>
                }
                @if (!string.IsNullOrEmpty(questionNameJson["RU"]))
                {
                    <p id="questionNameRU_@i" data-status="withText">@questionNameJson["RU"]</p>
                }
                else
                {
                    <p id="questionNameRU_@i" data-status="noComent">RU @Localization.SkipQuestionTitle</p>
                }



            </div>

            <div id="detail_@i">

                <div class="form-group">
                    <b>@Localization.Comment</b>
                    @if (!string.IsNullOrEmpty(questionComentaryJson["EN"]))
                    {
                        <p id="questionComentaryEN_@i" data-status="withText">@questionComentaryJson["EN"]</p>
                    }
                    else
                    {
                        <p id="questionComentaryEN_@i" data-status="noComent">EN @Localization.SkipCommentMessage</p>
                    }
                    @if (!string.IsNullOrEmpty(questionComentaryJson["RO"]))
                    {
                        <p id="questionComentaryRO_@i" data-status="withText">@questionComentaryJson["RO"]</p>
                    }
                    else
                    {
                        <p id="questionComentaryRO_@i" data-status="noComent">RO @Localization.SkipCommentMessage</p>
                    }
                    @if (!string.IsNullOrEmpty(questionComentaryJson["RU"]))
                    {
                        <p id="questionComentaryRU_@i" data-status="withText">@questionComentaryJson["RU"]</p>
                    }
                    else
                    {
                        <p id="questionComentaryRU_@i" data-status="noComent">RU @Localization.SkipCommentMessage</p>
                    }

@*                     @if (!string.IsNullOrEmpty(item.comentary))
                    {
                        <p id="questionComentary_@i" data-status="withText">@item.comentary</p>
                    }
                    else
                    {
                        <p id="questionComentary_@i" data-status="noComent"> @Localization.SkipCommentMessage</p>
                    } *@
                </div>

                <div class="form-group">
                    @{
                        //var gradingTypes = Enum.GetValues(typeof(GradingType)).Cast<GradingType>().Select(v => v.ToString()).ToArray();
                        //var tmp = Enum.GetValues(typeof(GradingType));
                    }
                    <input hidden id="questionGradingType_@i" value="@Convert.ToInt32(item.gradingType)" />
                    <b>@Localization.GradingType</b>
                    <p>@Localization.ResourceManager.GetString(item.gradingType.ToString())</p>
                </div>


                <div class="answers-container" id="answersContainer_@i">
                    @{
                        int j = 1;
                    }
                    @if (item.gradingType == GradingType.SingleAnswerVariant || item.gradingType == GradingType.MultipleAnswerVariant)
                    {
                        <h4>@Localization.Responses</h4>
                        <br />
                        <ul>
                            @foreach (var answ in item.responseVariants.OrderBy(x => x.id))
                            {
                                <input hidden id="ResponseId" value="@answ.id" />
                                var questionResponseJson = JsonConvert.DeserializeObject<Dictionary<string, string>>(answ.response);
                                <li>
                                    <div class="answer" id="response_@j">
                                        <div class="row">
                                            <div class="col-md-12">
                                                @if (!string.IsNullOrEmpty(questionResponseJson["EN"]))
                                                {
                                                    <p id="responseEN_@i" data-status="withText">@questionResponseJson["EN"]</p>
                                                }
                                                else
                                                {
                                                    <p id="responseEN_@i" data-status="noComent">EN @Localization.SkipAnswerMessage</p>
                                                }
                                                @if (!string.IsNullOrEmpty(questionResponseJson["RO"]))
                                                {
                                                    <p id="responseRO_@i" data-status="withText">@questionResponseJson["RO"]</p>
                                                }
                                                else
                                                {
                                                    <p id="responseRO_@i" data-status="noComent">RO @Localization.SkipAnswerMessage</p>
                                                }
                                                @if (!string.IsNullOrEmpty(questionResponseJson["RU"]))
                                                {
                                                    <p id="responseRU_@i" data-status="withText">@questionResponseJson["RU"]</p>
                                                }
                                                else
                                                {
                                                    <p id="responseRU_@i" data-status="noComent">RU @Localization.SkipAnswerMessage</p>
                                                }
                                            </div>
                                            <div class="col-md-1">
                                                <button type='button' style='width: 100%; display: none;' class='btn btn-danger btnremoveAnsw'> <i class="uil-trash-alt"></i> @Localization.Delete</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>


                                j++;
                            }
                        </ul>


                    }
                </div>
            </div>
        </div>
        i++;
    }



</div>