@using WebApplication2.Models.API.Questionnaires;
@model IEnumerable<Responses>

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-12">
        <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = Model.Count();
                }
                @foreach (var item in Model.OrderByDescending(x => x.oid))
                {
                    <tr>
                        <td style="width: 90vw!important;">@i</td>
                        <td style="width: 10vw!important;">
                           @*  style="width: 100%; border-color: #00ce78; background-color:#00ce78" *@
                            <button style="width: 100%" type="button" class="btn btn-success waves-effect waves-light"
                                    data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl"
                                    onclick="drawPatrialView('/Home/QuestionnaireResponse/' + @item.oid, 'xlModalBody')">
                                @Localization.Response
                            </button>
                        </td>
                    </tr>
                    i--;
                }
            </tbody>
        </table>
    </div>
</div>



<script>
    $(document).ready(function () {
        // Проверяем, инициализирована ли уже таблица DataTable
        if ($.fn.DataTable.isDataTable('#datatable')) {
            // Если да, уничтожаем текущую инициализацию
            $('#datatable').DataTable().destroy();
        }

        var dataTableOptions = {
            language: {
                processing: "@Localization.processing",
                search: "@Localization.Search",
                lengthMenu: "@Localization.lengthMenu",
                info: "@Localization.info",
                infoEmpty: "@Localization.infoEmpty",
                infoFiltered: "@Localization.infoFiltered",
                infoPostFix: "",
                loadingRecords: "@Localization.loadingRecords",
                zeroRecords: "@Localization.zeroRecords",
                emptyTable: "@Localization.emptyTable",
                paginate: {
                    first: "@Localization.first",
                    previous: "@Localization.previous",
                    next: "@Localization.next",
                    last: "@Localization.last"
                }/*,
                    aria: {
                        sortAscending: ": активировать для сортировки столбца по возрастанию",
                        sortDescending: ": активировать для сортировки столбца по убыванию"
                    }*/
            },
            columnDefs: [
                { orderable: false, targets: [1] }
            ],
            // Другие настройки DataTables...
        };


        // Используйте языковые опции для DataTables
        $('#datatable').DataTable(dataTableOptions);
    });
</script>
