@using ISQuiz.Models.API.Questionnaires
@model QuestionnaireStatistic
<meta charset="utf-8">

<div class="row justify-content-center">
    <div class="col-auto">
        <p class="card-title-desc">
            @Localization.GlobalStatistic
        </p>
    </div>
        <div id="chart"></div>

</div>

<!-- Подключение библиотеки ApexCharts -->
<script src="~/assets/libs/apexcharts/apexcharts.min.js"></script>
<!-- apexcharts init -->

<script>

    function decodeHtmlEntities(text) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = text;
        return textArea.value;
    }

    // Получаем данные из модели C# и передаем их в JavaScript переменные
    var totalResponses = @Model.totalResponses;
    var totalFalseResponses = @Model.totalFalseResponses;
    var totalTrueResponses = @Model.totalTrueResponses;
    var totalGradeLowerOrEqualThan6 = @Model.totalGradeLowerOrEqualThan6;
    var totalGrade7 = @Model.totalGrade7;
    var totalGrade8 = @Model.totalGrade8;
    var totalGrade9 = @Model.totalGrade9;
    var totalGrade10 = @Model.totalGrade10;

    var grade = decodeHtmlEntities('@Localization.Grade');




    var options = {
        chart: {
            type: 'bar',
            height: 450,
            toolbar: {
                show: false
            }
        },
        plotOptions: {
            bar: {
                barHeight: '100%',
                distributed: true,
                horizontal: true,
                
               
            },
        },
        colors: ['#37AA0F', '#37AA0F', '#37AA0F', '#37AA0F', '#FF5733', '#FFA003', '#FFA003', '#3366FF'],  // Меняем цвета столбцов
        dataLabels: {
            enabled: false,  // Убираем надписи внутри столбцов
        },
        legend: {
            show: false,
        },
        stroke: {
            width: 1,
            colors: ['#fff']
        },
        series: [{
            name: "@Localization.Responses ",
            data: [
                totalGrade10,
                totalGrade9,
                totalGrade8,
                totalGrade7,
                totalGradeLowerOrEqualThan6,
                totalTrueResponses,
                totalFalseResponses,
                totalResponses
            ]

        }],
        xaxis: {
            categories: [grade + ' 10', grade + ' 9', grade + ' 8', grade + ' 7', '<= 6', 'True', 'False', decodeHtmlEntities('@Localization.Total')],
            labels: {
                style: {
                    fontSize: '14px'
                }
            }
        },
        yaxis: {
            title: {
                text: decodeHtmlEntities('@Localization.NumberOfResponses'),
                style: {
                    fontSize: '16px',
                    fontWeight: 'bold',
                    color: '#333'
                }
            }
        },
        fill: {
            type: 'solid',  // Изменяем тип заливки на 'solid'
            opacity: 0.8  // Устанавливаем полную непрозрачность
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();



</script>
