@using ISQuiz.Models.API.Questionnaires
@model yesNoStatistic
<div class="row justify-content-center">
    <div class="col-auto">
        <p class="card-title-desc">
            @Localization.GlobalStatistic
        </p>
    </div>
    <div id="chart"></div>

</div>
<script>

    function decodeHtmlEntities(text) {
        var textArea = document.createElement('textarea');
        textArea.innerHTML = text;
        return textArea.value;
    }

    // Получаем данные из модели C# и передаем их в JavaScript переменные
    var totalResponses = @Model.totalResponses;
    var totalYes = @Model.totalYes;
    var totalNo = @Model.totalNo;

    var grade = decodeHtmlEntities('@Localization.Grade');




    var options = {
        chart: {
            type: 'bar',
            height: 150,
            toolbar: {
                show: false
            }
        },
        plotOptions: {
            bar: {
                barHeight: '100%',
                distributed: true,
                horizontal: true,


            },
        },
        colors: ['#FF5733', '#37AA0F', '#3366FF'],  // Меняем цвета столбцов
        dataLabels: {
            enabled: false,  // Убираем надписи внутри столбцов
        },
        legend: {
            show: false,
        },
        stroke: {
            width: 1,
            colors: ['#fff']
        },
        series: [{
            name: "@Localization.Responses ",
            data: [
                totalNo,
                totalYes,
                totalResponses
            ]

        }],
        xaxis: {
            categories: ['False', 'True', decodeHtmlEntities('@Localization.Total')],
            labels: {
                style: {
                    fontSize: '14px'
                }
            }
        },
        /*yaxis: {
            title: {
                text: decodeHtmlEntities('@Localization.NumberOfResponses'),
                style: {
                    fontSize: '16px',
                    fontWeight: 'bold',
                    color: '#333'
                }
            }
        },*/
        fill: {
            type: 'solid',  // Изменяем тип заливки на 'solid'
            opacity: 0.8  // Устанавливаем полную непрозрачность
        },
        tooltip: {
            y: {
                formatter: function (val) {
                    return val
                }
            }
        }
    };

    var chart = new ApexCharts(document.querySelector("#chart"), options);
    chart.render();



</script>