@using ISQuiz.Models.API;
@using ISQuiz.Models.API.Questionnaires;
@using ISQuiz.Models.Enum;
@using ISQuiz.ViewModels;
@model QuestionnaireViewModel


<style>
    .form-container {
        font-size: 18px;
    }


    .question {
        border: 1px solid #2c3036;
        border-radius: 30px;
        padding: 20px;
        margin-bottom: 40px;
        position: relative;
    }

</style>
@*
    =================
    =====Details=====
    =================

    <div class="form-container">
                <br />
                <h4>@Localization.Questions</h4>
                <br />
                @{
                    int i = 1;
                }
                @foreach (var question in Model.Questions.OrderBy(x => x.id))
                {
                    <div class="question">
                        <h4><strong>@Localization.Question №@i </strong></h4>
                        <p>@question.question</p>
                        @* <p><strong>@Localization.Comment:</strong> @question.comentary</p> *
<b>@Localization.Comment</b>
@if (!string.IsNullOrEmpty(question.comentary))
{
    <p>@question.comentary</p>
}
else
{
    <p> @Localization.SkipCommentMessage</p>
}

<b>@Localization.GradingType</b>
<p>@Localization.ResourceManager.GetString(question.gradingType.ToString())</p>

@if (question.gradingType == GradingType.SingleAnswerVariant || question.gradingType == GradingType.MultipleAnswerVariant)
{
    <b>@Localization.Responses</b>
    <br />
    <ul>
        @foreach (var answer in question.responseVariants.OrderBy(x => x.id))
        {
            <li><p>@answer.response</p></li>

        }
    </ul>
}
                    </div>
                    i++;
                }

            </div>
*@
<form method="POST" asp-controller="Home" asp-action="DeleteQuestionnaire" id="DeleteQuestionnaireForm">
    <div class="modal-body">
        <div class="col-sm-12">
            <div class="alert alert-danger alert-dismissible fade show mt-1 px-1 mb-0 text-center" role="alert">
                <i class="uil uil-exclamation-octagon d-block display-4 mt-2 mb-3 text-danger"></i>
                <h5 class="text-danger">@Localization.Delete</h5>
                <p>
                    @Localization.Sure
                </p>
                <h2>@Model.Title</h2>
            </div>
            @*DetailCommnet(Up)*@
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-danger waves-effect waves-light"> @Localization.Delete</button>
        <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">@Localization.Cancel</button>

    </div>
</form>

<script>
    $(document).ready(function () {
        $('#DeleteQuestionnaireForm').on('submit', function (e) {
            e.preventDefault();


            $.ajax({
                url: '../Home/DeleteQuestionnaire',
                cache: false,
                type: "POST",
                data: JSON.stringify(@Model.oid),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.statusCode === 200) {
                        $('.modal').modal('hide');
                        window.location.reload();

                    } else {
                        var errorMessage = $('<div class="alert alert-danger" role="alert">' + data.message + '</div>');
                        $('#DeleteQuestionnaireForm').append(errorMessage);
                    }
                },

            });
        });
    });
</script>