@using ISQuiz.Models.API.Questionnaires;
@model IEnumerable<Questionnaire>


@{
    ViewBag.Title = Localization.Questionnaires;
    ViewBag.pageTitle = Localization.Questionnaires;
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/TableQ.css">


@* <link href="~/assets/libs/sweetalert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />

<script src="~/assets/libs/sweetalert2/sweetalert2.min.js"></script>
<script>
    function MySweet() {
        Swal.fire({
            title: "Submit email to run ajax request",
            input: "email",
            showCancelButton: true,
            confirmButtonText: "Submit",
            showLoaderOnConfirm: true,
            confirmButtonColor: "#5b73e8",
            cancelButtonColor: "#f46a6a",
            preConfirm: function (email) {
                return new Promise(function (resolve, reject) {
                    setTimeout(function () {
                        if ("taken@example.com" === email) {
                            reject("This email is already taken.");
                        } else {
                            resolve();
                        }
                    }, 2000);
                });
            },
            allowOutsideClick: false
        }).then(function (result) {
            if (result.isConfirmed) {
                Swal.fire({
                    icon: "success",
                    title: "Ajax request finished!",
                    html: "Submitted email: " + result.value
                });
            }
        });
    }
</script> *@
<div class="row">
    <div class="col-xl-12">
        <div class="button-items">
            <a type="button" style="margin-bottom: 25px;" class="btn btn-success waves-effect waves-light" href="@Url.Action("CreateQuestionnaire", "Home"@* , new {id = 0} *@)"><i class="mdi mdi-plus me-1"></i> @Localization.AddQ</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>@Localization.TitleQ</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var questionnaire in Model)
                        {
                            <tr>
                                <td class="ellipsis">@questionnaire.name</td>
                                <td>
                                    @*style ="width: 10vw!important;"*@
                                    <a type="button" href="@Url.Action("Detail", "Home", new {id = questionnaire.oid})" class="px-3 text-info"><i class="uil-info-circle font-size-20"></i></a>
                                    <a type="button" class="px-3 text-danger" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl" onclick="drawPatrialView('/Home/Delete/'+@questionnaire.oid, 'xlModalBody')"><i class="uil-trash-alt font-size-20"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->


<script>
    $(document).ready(function () {
        if ($.fn.DataTable.isDataTable('#datatable')) {
            // Если да, уничтожаем текущую инициализацию
            $('#datatable').DataTable().destroy();
        }
        var dataTableOptions = {
            language: {
                processing: "@Localization.processing",
                search: "@Localization.Search",
                lengthMenu: "@Localization.lengthMenu",
                info: "@Localization.info",
                infoEmpty: "@Localization.infoEmpty",
                infoFiltered: "@Localization.infoFiltered",
                infoPostFix: "",
                loadingRecords: "@Localization.loadingRecords",
                zeroRecords: "@Localization.zeroRecords",
                emptyTable: "@Localization.emptyTable",
                paginate: {
                    first: "@Localization.first",
                    previous: "@Localization.previous",
                    next: "@Localization.next",
                    last: "@Localization.last"
                }/*,
                    aria: {
                        sortAscending: ": активировать для сортировки столбца по возрастанию",
                        sortDescending: ": активировать для сортировки столбца по убыванию"
                    }*/
            },
            columnDefs: [
                { orderable: false, targets: [1] }
            ],
            // Другие настройки DataTables...
        };


        // Используйте языковые опции для DataTables
        $('#datatable').DataTable(dataTableOptions);
    });
</script>