@using WebApplication2.Models.API.Questionnaires;
@using Microsoft.AspNetCore.Mvc.Localization
@* @inject IViewLocalizer Localizer *@
@model IEnumerable<Questionnaire>


@{
    ViewBag.Title = "Datatables";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}

<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-xl-12">
        <div class="button-items">
            <a type="button" style="margin-bottom: 25px;" class="btn btn-success waves-effect waves-light" href="@Url.Action("Upsert", "Home", new {id = 0})"><i class="mdi mdi-plus me-1"></i> @Localization.Add</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">


                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th width="20px"></th>


                        </tr>
                    </thead>


                    <tbody>
                        @foreach(var item in Model)
                        {
                            <tr>
                            <td height="10%">@item.name</td>
                            <td>
                                <a type="button" href="@Url.Action("Detail", "Home", new {id = item.oid})" class="px-3 text-info" ><i class="uil-info-circle font-size-20"></i></a>
                                    <a type="button" href="@Url.Action("Upsert", "Home", new {id = item.oid})" class="px-3 text-primary"><i class="bx bx-edit font-size-20"></i></a>
                                <a type="button" style="width: 100%;" class="px-3 text-danger" data-bs-toggle="modal" data-bs-target=".bs-example-modal-xl" onclick="drawPatrialView('/Home/Delete/'+@item.oid, 'xlModalBody')"><i class="uil-trash-alt font-size-20"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->

<!-- JAVASCRIPT -->


<!-- Required datatable js -->
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->


<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

<!-- Datatable init js -->
<script src="~/assets/js/pages/datatables.init.js"></script>
<script>
    $(document).ready(function () {
        // Проверяем, инициализирована ли уже таблица DataTable
        if ($.fn.DataTable.isDataTable('#datatable')) {
            // Если да, уничтожаем текущую инициализацию
            $('#datatable').DataTable().destroy();
        }

        // Инициализируем DataTable с вашими настройками
        $('#datatable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [1] }
            ]
        });
    });

</script>

