@using WebApplication2.Models.API.License;
@model License

<div class="modal-body">
    <div class="col-sm-12">
        <h2>@Localization.DetailLicense</h2>
        <div class="row">
            <div class="col-lg-12">
                <br />
                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">
                            @Localization.activationCode:
                        </label>
                        <div class="input-group">
                            <input type="text" class="form-control" value="@Model.activationCode" id="activationCode" readonly disabled />
                            <div class="input-group-append">
                                @if (Model.activationCode.Length > 0)
                                {
                                    <button class="btn btn-outline-secondary" type="button" onclick="copyActivationCode()">
                                        <i class="fas fa-copy"></i>
                                    </button>
                                }
                            </div>
                        </div>
                        @* <input type="text" asp-for="activationCode" class="form-control" value="@Model.activationCode" id="activationCode" readonly disabled /> *@
                        @*  <p id="activationCode">@Model.activationCode</p> *@
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">@Localization.deviceModel:</label>
                        <input type="text" asp-for="deviceModel" class="form-control" value="@Model.deviceModel" readonly disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">@Localization.licenseActivated:</label>
                        <input type="text" class="form-control" value="@Model.licenseActivated" readonly disabled />
                        <p>@Model.licenseActivated</p>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">@Localization.deviceName:</label>
                        <input type="text" class="form-control" value="@Model.deviceName" readonly disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label" for="showMethod">@Localization.Status:</label>
                        @if (Model.licenseStatus == 0)
                        {
                            <input type="text" class="form-control" value="@Localization.NotActivated" readonly disabled />
                            @*  <p>@Localization.NotActivated</p> *@
                        }
                        else if (Model.licenseStatus == 1)
                        {
                            <input type="text" class="form-control" value="@Localization.Activated" readonly disabled />
                            @*  <p>@Localization.Activate</p> *@
                        }
                        else
                        {
                            <input type="text" class="form-control" value="@Localization.Disabled" readonly disabled />
                            @* <p>@Localization.Disabled</p> *@
                        }
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">@Localization.battery:</label>
                        <input type="text" class="form-control" value="@Model.battery" readonly disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="form-label">@Localization.osVersion:</label>
                        <input type="text" class="form-control" value="@Model.osVersion" readonly disabled />
                        @*                       <p>@Model.osVersion</p> *@
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">@Localization.typeOs:</label>
                        <input type="text" class="form-control" value="@Model.os" readonly disabled />
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">@Localization.Close</button>
</div>
<script>
    function copyActivationCode() {
        var activationCodeElement = document.getElementById("activationCode");
        var range = document.createRange();
        range.selectNode(activationCodeElement);
        window.getSelection().removeAllRanges();
        window.getSelection().addRange(range);
        document.execCommand("copy");
        window.getSelection().removeAllRanges();
    }
</script>