@using WebApplication2.Models.API.License;
@model IEnumerable<License>



@{
    ViewData["Title"] = Localization.Licenses;
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<script src="~/js/app.js"></script>
<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />



<div class="row">
    <div class="col-xl-12">
        <div class="button-items">

            <div id="licenses"></div>
            <button id="addButtonPar" type="button" style="margin-bottom: 25px;" class="btn btn-success waves-effect waves-light"><i class="mdi mdi-plus me-1"></i> @Localization.Generatelicense</button>
            <div id="visualCreate" style="display: none;">
                <div id="Createlicense"></div>
            </div>
            <br />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>@Localization.licenseActivated</th>
                            <th>@Localization.Status</th>
                            <th>@Localization.deviceModel</th>
                            <th>@Localization.deviceName</th>
                            <th>@Localization.battery</th>
                            <th></th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.licenseActivated</td>
                                @if (item.licenseStatus == 0)
                                {
                                    <th><span class="badge bg-soft-primary font-size-15" style="width: 100%;">@Localization.NotActivated</span></th>
                                }
                                else if (item.licenseStatus == 1)
                                {
                                    <th><span class="badge bg-soft-success font-size-15" style="width: 100%;">@Localization.Activated</span></th>
                                }
                                else
                                {
                                    <th><span class="badge bg-soft-danger font-size-15" style="width: 100%;">@Localization.Disabled</span></th>
                                }
                                <th>@item.deviceModel</th>
                                <th>@item.deviceName</th>
                                <th>@item.battery</th>
                                <td style="width: 120px!important;">
                                    <a type="button" class="px-3 text-warning" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/License/Detail/'+'@item.oid', 'lgModalBody')"><i class="uil uil-file-info-alt font-size-18"></i></a>
                                    <a type="button" class="px-3 text-danger" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/License/Delete/'+'@item.oid', 'lgModalBody')"><i class="uil-trash-alt  font-size-18"></i></a>
                                    <div class="dropdown float-end">
                                        <a class="text-body dropdown-toggle font-size-18" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                            <i class="uil uil-ellipsis-v"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-end">
                                            @if (item.licenseStatus != 1)
                                            {
                                                <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/License/Action?oid=@item.oid&option=1', 'lgModalBody')">@Localization.Activate</a>
                                            }
                                            @if (item.licenseStatus != 2)@*Enum*@
                                            {
                                                <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/License/Action?oid=@item.oid&option=2', 'lgModalBody')">@Localization.Deactivate</a>
                                            }
                                            <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/License/Action?oid=@item.oid&option=3', 'lgModalBody')">@Localization.Release</a>

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<script src="~/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<!-- Responsive examples -->
<script src="~/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>


<script>
    drawPatrialView("/License/CreateLicence", "Createlicense");
    $(document).ready(function () {
        $("#addButtonPar").click(function () {
            $("#visualCreate").show();
            $(this).hide();
        });
        // Проверяем, инициализирована ли уже таблица DataTable
        if ($.fn.DataTable.isDataTable('#datatable')) {
            // Если да, уничтожаем текущую инициализацию
            $('#datatable').DataTable().destroy();
        }

        var dataTableOptions = {
            language: {
                processing: "@Localization.processing",
                search: "@Localization.Search",
                lengthMenu: "@Localization.lengthMenu",
                info: "@Localization.info",
                infoEmpty: "@Localization.infoEmpty",
                infoFiltered: "@Localization.infoFiltered",
                infoPostFix: "",
                loadingRecords: "@Localization.loadingRecords",
                zeroRecords: "@Localization.zeroRecords",
                emptyTable: "@Localization.emptyTable",
                paginate: {
                    first: "@Localization.first",
                    previous: "@Localization.previous",
                    next: "@Localization.next",
                    last: "@Localization.last"
                }/*,
                    aria: {
                        sortAscending: ": активировать для сортировки столбца по возрастанию",
                        sortDescending: ": активировать для сортировки столбца по убыванию"
                    }*/
            },
            columnDefs: [
                { orderable: false, targets: [5] }
            ],
            // Другие настройки DataTables...
        };


        // Используйте языковые опции для DataTables
        $('#datatable').DataTable(dataTableOptions);
    });

</script>
