@using WebApplication2.Models.API.License;
@model IEnumerable<License>



@{
    ViewData["Title"] = "Questionnaires";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<script src="~/js/app.js"></script>
<!-- DataTables -->
<link href="~/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<!-- Responsive datatable examples -->
<link href="~/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />

<div class="row">
    <div class="col-xl-12">
        <div class="button-items">

            <div id="licenses"></div>
            <button id="addButtonPar" type="button" style="margin-bottom: 25px;" class="btn btn-success waves-effect waves-light"><i class="mdi mdi-plus me-1"></i> Generate license</button>
            <div id="visualCreate" style="display: none;">
                <div id="Createlicense"></div>
            </div>
            <br />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>licenseActivated</th> @*Time*@
                            <th>licenseStatus</th>
                            <th>deviceModel</th>
                            <th>deviceName</th>
                            <th>battery</th>
                            <th style="width: 120px;">Action</th>
                        </tr>
                    </thead>


                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.licenseActivated</td>
                                @if (item.licenseStatus == 0)
                                {
                                    <th><span class="badge bg-soft-primary font-size-15" style="width: 100%;">NotActivated</span></th>
                                }
                                else if (item.licenseStatus == 1)
                                {
                                    <th><span class="badge bg-soft-success font-size-15" style="width: 100%;">Activated</span></th>
                                }
                                else
                                {
                                    <th><span class="badge bg-soft-danger font-size-15" style="width: 100%;">Disabled</span></th>
                                }
                                <th>@item.deviceModel</th>
                                <th>@item.deviceName</th>
                                <th>@item.battery</th>
                                <td>
                                    <a type="button" class="px-3 text-warning" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/License/Detail/'+'@item.oid', 'lgModalBody')"><i class="uil uil-file-info-alt font-size-18"></i></a>
                                    <a type="button" class="px-3 text-danger" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/License/Delete/'+'@item.oid', 'lgModalBody')"><i class="uil-trash-alt  font-size-18"></i></a>
                                    <div class="dropdown float-end">
                                        <a class="text-body dropdown-toggle font-size-18" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true">
                                            <i class="uil uil-ellipsis-v"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-end">
                                            @if (item.licenseStatus != 1)
                                            {
                                                <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/License/Action?oid=@item.oid&option=1', 'lgModalBody')">Activate</a>
                                            }
                                            @if (item.licenseStatus == 1)
                                            {
                                                <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/License/Action?oid=@item.oid&option=2', 'lgModalBody')">Deactivate</a>
                                                <a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target=".bs-example-modal-lg" onclick="drawPatrialView('/License/Action?oid=@item.oid&option=3', 'lgModalBody')">Release</a>
                                            }
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- JAVASCRIPT -->
<!-- Required datatable js -->
<!-- Datatable init js -->




<script>
    drawPatrialView("/License/CreateLicence", "Createlicense");
    $(document).ready(function () {
        $("#addButtonPar").click(function () {
            $("#visualCreate").show();
            $(this).hide();
        });
        // Проверяем, инициализирована ли уже таблица DataTable
        if ($.fn.DataTable.isDataTable('#datatable')) {
            // Если да, уничтожаем текущую инициализацию
            $('#datatable').DataTable().destroy();
        }

        // Инициализируем DataTable с вашими настройками
        $('#datatable').DataTable({
            "columnDefs": [
                { "orderable": false, "targets": [5] }
            ]
        });
    });

</script>
