@using ISQuiz.ViewModels;
@model ChangeConfirmPasswordViewModel

<form method="POST" id="changePasswordForm">
    <div>
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-3 mb-4">
                    <label asp-for="OldPassword" class=" form-label">@Localization.OldPassword</label>
                    <input asp-for="OldPassword" type="password" class="form-control" id="oldPassword" placeholder="@Localization.OldPassword" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3 mb-4">
                    <label asp-for="NewPassword" class="form-label">@Localization.NewPassword</label>
                    <input asp-for="NewPassword" type="password" class="form-control" id="newPassword" placeholder="Password1?3$">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="mb-3 mb-4">
                    <label asp-for="ConfirmPassword" class="form-label">@Localization.ConfirmPassword</label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="confirmPassword" placeholder="@Localization.ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col text-end">
                <button type="submit" class="btn btn-success"> <i class="uil uil-file-alt me-1"></i> @Localization.Save</button>
            </div> <!-- end col -->
        </div>
    </div>
</form>

<script>
    $(document).ready(function () {
        //debugger 111111111
        $('#changePasswordForm').on('submit', function (e) {
            e.preventDefault();
            e.stopPropagation();
            var password = {
                OldPassword: $('#oldPassword').val(),
                NewPassword: $('#newPassword').val(),
                ConfirmPassword: $('#confirmPassword').val(),
            };
            //debugger
            $.ajax({
                url: '../User/ChangePassword',
                cache: false,
                type: "POST",
                data: JSON.stringify(password),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $('#changePasswordForm').find('.text-danger').remove();
                    if (data.statusCode === 200) {
                        // Display success message dynamically
                        var successMessage = $('<div class="alert alert-success" role="alert">' + '@Localization.SuccessPW' + '</div>');
                        $('#changePasswordForm').append(successMessage);
                        setTimeout(function () {
                            successMessage.fadeOut('slow');
                        }, 3000); // Hide after 5 seconds
                    } else if (data.statusCode === 500) {
                        // Display error message or handle other status codes
                        var errorMessage = $('<div class="alert alert-danger" role="alert">' + data.message + '</div>');
                        $('#changePasswordForm').append(errorMessage);
                        setTimeout(function () {
                            errorMessage.fadeOut(4000);
                        }); // Hide after 5 seconds
                    }
                    else {
                        $('#changePassword').html(data);
                    }

                },

            });

        });
    });
</script>