@using WebApplication2.ViewModels;
@model User
@{
    ViewBag.Title = "Settings";
    ViewBag.pTitle = "Settings";
    ViewBag.pageTitle = "Profile";
    Layout = "~/Views/_Shared/_Layout.cshtml";
}
<script src="~/js/app.js"></script>
<div class="row">
    <div class="col-xl-12">
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                <strong>Oops!</strong> @TempData["Error"]
            </div>
        }
        @if (TempData["Success"] != null)
        {
            <div class="alert alert-success">
                <strong>Success! </strong>@TempData["Success"]
            </div>
        }
        <div class="custom-accordion">

            <div class="card">
                <a href="#profileinfo-collapse" class="text-dark" data-bs-toggle="collapse">
                    <div class="p-4">

                        <div class="media align-items-center">
                            <div class="media-body overflow-hidden">
                                <h5 class="font-size-16 mb-1">@Localization.profileInfo</h5>
                                @* <p class="text-muted text-truncate mb-0">See more!</p> *@
                            </div>
                            <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                        </div>

                    </div>
                </a>

                <div id="profileinfo-collapse" class="collapse show">
                    <div class="p-4 border-top">
                        <form>
                            <div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3 mb-4">
                                            <label class="form-label" for="billing-name">@Localization.firstName</label>
                                            <input asp-for="FirstName" type="text" class="form-control" placeholder="Enter name" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 mb-4">
                                            <label class="form-label" for="billing-lastname">@Localization.lastName</label>
                                            <input asp-for="LastName" type="text" class="form-control" id="billing-surname" placeholder="Enter LastName" readonly>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="mb-3 mb-4">
                                            <label class="form-label" for="billing-email-address">@Localization.emailAddress</label>
                                            <input asp-for="Email" type="email" class="form-control" placeholder="Enter email" readonly>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="mb-3 mb-4">
                                            <label class="form-label" for="billing-phone">@Localization.phone</label>
                                            <input asp-for="PhoneNumber" type="text" class="form-control" placeholder="Enter Phone no." readonly>
                                        </div>
                                    </div>
                                </div>

@*                                 <div class="row mb-4">
                                    <div class="col text-end">
                                        <a href="#" class="btn btn-success"> <i class="uil uil-file-alt me-1"></i> @Localization.Save </a>
                                    </div> <!-- end col -->
                                </div> *@
                            </div>
                        </form>
                    </div>
                </div>

            </div>

            <div class="card">
                <a href="#changepassword-collapse" class="collapsed text-dark" data-bs-toggle="collapse">
                    <div class="p-4">

                        <div class="media align-items-center">
                            <div class="media-body overflow-hidden">
                                <h5 class="font-size-16 mb-1">@Localization.ChangePassword</h5>
                            </div>
                            <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
                        </div>

                    </div>
                </a>

                <div id="changepassword-collapse" class="collapse">
                    <div class="p-4 border-top">
                        <div id="changePassword"></div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row my-4">
            <div class="col">
                <a href=@Url.Action("Index", "Home") class="btn btn-link text-muted">
                    <i class="uil uil-arrow-left me-1"></i> @Localization.Questionnaires
                </a>
            </div> <!-- end col -->

        </div> <!-- end row-->
    </div>
</div>
<!-- end row -->
<!-- JAVASCRIPT -->
<script>
    drawPatrialView("/User/ChangePassword", "changePassword");
</script>